@using Models.Models
@model WebApp.Models.StorageViewModel

@{
    ViewBag.Title = "Storage";
}

<h2>Storage</h2>

@foreach (var product in Model.Products)
{
    @Html.Partial("_Storage", product)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Storage", new { page = x }))
</div>
