@using Models.Models
@model WebApp.Models.StorageViewModel

@{
    ViewBag.Title = "Storage";
}

<h2>Storage</h2>

@foreach (var product in Model.Products)
{
    <div>
        <h3>@product.Product_name</h3>
        <p>@product.Product_price</p>
        <h4>@product.Count_at_storage</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Storage", new { page = x }))
</div>
